.wrapper {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;

  @include PadsPro() {
    max-width: 1024px;
  }

  @include Laptops() {
    max-width: 1200px;
  }

  @include HiDPI() {
    max-width: 1200px;
  }
}

.text-content {
  padding: 8rem 0;

  @include Pads() {
    padding: 12rem 0 8rem;
  }

  @include PadsPro() {
    padding: 12rem 0 8rem;
  }

  @include Laptops() {
    padding: 20rem 0 16rem;
  }

  @include HiDPI() {
    padding: 20rem 0 16rem;
  }
}

.pad {
  @include Laptops() {
    padding: 12rem 0 8rem;
  }

  @include HiDPI() {
    padding: 12rem 0 8rem;
  }
}

.mini {
  padding: 4rem 0;

  @include Laptops() {
    padding: 12rem 0 8rem;
  }

  @include HiDPI() {
    padding: 12rem 0 8rem;
  }
}

.flex {
  @include Laptops() {
    display: flex;
  }

  @include HiDPI() {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
}

.paragraph {
  font-size: 14px;
  color: rgba(51, 51, 51, 0.6);
  line-height: 24px;
  font-weight: 300;
  margin-bottom: 2rem;

  @include Pads() {
    width: 500px;
    font-size: 16px;
    line-height: 26px;
  }

  @include PadsPro() {
    width: 500px;
    font-size: 16px;
    line-height: 26px;
  }

  @include Laptops() {
    width: 500px;
    font-size: 16px;
    line-height: 26px;
  }

  @include HiDPI() {
    width: 600px;
    font-size: 20px;
    line-height: 30px;
  }
}
