.credits {
  padding: 1rem 0;
  font-size: 0.8rem;

  @include Pads() {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
  }

  @include PadsPro() {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
  }

  @include Laptops() {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
  }

  @include HiDPI() {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
  }

  .credit {
    margin-bottom: 1rem;
    margin-top: 2rem;

    @include Pads() {
      margin-top: 0rem;
      margin-bottom: 0rem;
    }

    @include PadsPro() {
      margin-top: 0rem;
      margin-bottom: 0rem;
    }

    @include Laptops() {
      margin-top: 0rem;
      margin-bottom: 0rem;
    }

    @include HiDPI() {
      margin-top: 0rem;
      margin-bottom: 0rem;
    }

    span {
      display: block;
      margin: 0.5rem 0;
      letter-spacing: -0.1px;
      color: rgba(51, 51, 51, 0.5);

      .inline {
        display: inline;
        font-weight: 500;
        color: rgba(51, 51, 51, 0.811);
      }
    }
  }

  .credit-cards {
    display: grid;
    grid-template-columns: repeat(4, 30px);
    grid-gap: 5px;

    .card {
      height: 20px;

      img {
        object-fit: cover;
      }
    }
  }
}
